.one-line {clear:left;}
.one-cell {float:left;}
.one-done {clear:both;}

.aBox {border-style:solid;border-color:#cccccc;border-width: 1px 1px 1px 1px;}

.ex00 {font-weight:bold;}
.mg04 {margin:4px;}

.blue {color:blue;}
.bred {color:red}
.oran {color:#f0ad4e}

.tm20 {margin-top:20px;}
